In [1]:
import sqlite3
import pandas as pd
import hashlib
from sqlalchemy import create_engine

In [2]:
conn = sqlite3.connect("data.db")

df = pd.read_sql("select * from  userstable", con=conn)

conn.close()

In [3]:
df['pwd_n'] = df['password'].apply(
    lambda x: 
        hashlib.sha256(x.encode()).hexdigest()
)
df = df.drop(["password"], axis=1)
df = df.rename(index=str, columns= {'pwd_n': 'password'})
df.reset_index(inplace=True)
df = df.rename(index = str, columns = {'index':'id_users'})
df

   id_users         username                                           password
0         0            Jaslo  5994471abb01112afcc18159f6cc74b4f511b99806da59...
1         1             toto  a665a45920422f9d417e4867efdc4fb8a04a1f3fff1fa0...
2         2           Sino9Z  dce88c29de615438681a0196eace3d34df3b1d37b17b7b...
3         3            moi34  dd9f4e6d863f5f4e01b23ea5ba15ab177ca58dae82ae2f...
4         4             aze4  68f7a91ee05e239acab5df5dcf15dfca9970951347b1e4...
5         5  Nom_utilisateur  487f2799e99aefa322824849f561e6e3b29c2ce51bc0d7...
6         6             Ludo  9363f895169a58019e050825ee138dcd8e03df82a3d657...
7         7            Molop  1d72b6d9326cf6738851ccc592ff93df00bb605609b7f6...
8         8             AZER  5036e4073fc66b3a7c67f0727008465bb1494dd431d75a...
9         9           Andrès  3821de570ade787aa3838abb4cf7c144e72712de992ae8...
10       10              Cow  bc3adf4ded457148cbb43e958379ddf0bd20a09756096b...
11       11             Zipp  7e2d39c2cde99e265b42b8e512044cc5526db793b09894...
12       12            Tatar  7d049eec3de1dbc276ca2185307f8663c397349860a93f...
13       13            Smaug  3cf9a65df2dcaa5d7edcaaafb0a3e9d3e949516e8b4454...
14       14          Mumakil  3a9dd936830eea0faf5a71872031b9555310027d6eae93...
15       15           Ahsoka  80271baa8df6c40dfca87f6ab852d6567545fb94e0d0ac...
16       16            Elzée  154187fb2c11aad08d4a5ca65409e6faa8bda5730438cf...
17       17           Margot  ce6b6ae85e742f0ccd97c84c7491b414038258c8b96c43...
18       18            Moana  34046989c60d8ed2e5a80dfb17adbde0f0b06217242bab...
19       19            David  9df544bb79ed6570fc543b631208f49752b91b1e17cf11...
20       20           Lucile  d930f3f2314cd8bb6184a0b5f202f5bf38fb51400705d1...
21       21          Ludovic  e42fcf2836ae8b1fa0775bd7d2c8307bb985384f01df54...
22       22         Delphine  29b8af3fda46d8d307c50a6222d39b8834a8718edec04a...
23       23             Héra  bf6bd643912344acbd26cedbbf888afb5b8dc075952d79...
24       24          Tauriel  5a820d6bbc3f1d49e970cae1f5d900a13d9e14889c9394...
25       25            Laura  413d4090feb79b17508cd3461d7b0a568efcfcac8b3aa3...
26       26          Coralie  f5b6c4a6e9a2ba2c7616c2f94d3e79e49f2047d2c09261...
27       27            Lydia  9bab05c7f660711b05b01dd136a444d41fc3196bb4c81a...
28       28             Lisa  aa05d00cc40d4f78d7811380570a6c2ad35d41f75bfac4...

In [4]:
df.to_csv('Users.csv',index = False) #pour sauvegarder la nouvelle database sous forme csv

In [5]:
pd.read_csv('Users.csv')

    id_users  ...                                           password
0          0  ...  5994471abb01112afcc18159f6cc74b4f511b99806da59...
1          1  ...  a665a45920422f9d417e4867efdc4fb8a04a1f3fff1fa0...
2          2  ...  dce88c29de615438681a0196eace3d34df3b1d37b17b7b...
3          3  ...  dd9f4e6d863f5f4e01b23ea5ba15ab177ca58dae82ae2f...
4          4  ...  68f7a91ee05e239acab5df5dcf15dfca9970951347b1e4...
5          5  ...  487f2799e99aefa322824849f561e6e3b29c2ce51bc0d7...
6          6  ...  9363f895169a58019e050825ee138dcd8e03df82a3d657...
7          7  ...  1d72b6d9326cf6738851ccc592ff93df00bb605609b7f6...
8          8  ...  5036e4073fc66b3a7c67f0727008465bb1494dd431d75a...
9          9  ...  3821de570ade787aa3838abb4cf7c144e72712de992ae8...
10        10  ...  bc3adf4ded457148cbb43e958379ddf0bd20a09756096b...
11        11  ...  7e2d39c2cde99e265b42b8e512044cc5526db793b09894...
12        12  ...  7d049eec3de1dbc276ca2185307f8663c397349860a93f...
13        13  ...  3cf9a65df2dcaa5d7edcaaafb0a3e9d3e949516e8b4454...
14        14  ...  3a9dd936830eea0faf5a71872031b9555310027d6eae93...
15        15  ...  80271baa8df6c40dfca87f6ab852d6567545fb94e0d0ac...
16        16  ...  154187fb2c11aad08d4a5ca65409e6faa8bda5730438cf...
17        17  ...  ce6b6ae85e742f0ccd97c84c7491b414038258c8b96c43...
18        18  ...  34046989c60d8ed2e5a80dfb17adbde0f0b06217242bab...
19        19  ...  9df544bb79ed6570fc543b631208f49752b91b1e17cf11...
20        20  ...  d930f3f2314cd8bb6184a0b5f202f5bf38fb51400705d1...
21        21  ...  e42fcf2836ae8b1fa0775bd7d2c8307bb985384f01df54...
22        22  ...  29b8af3fda46d8d307c50a6222d39b8834a8718edec04a...
23        23  ...  bf6bd643912344acbd26cedbbf888afb5b8dc075952d79...
24        24  ...  5a820d6bbc3f1d49e970cae1f5d900a13d9e14889c9394...
25        25  ...  413d4090feb79b17508cd3461d7b0a568efcfcac8b3aa3...
26        26  ...  f5b6c4a6e9a2ba2c7616c2f94d3e79e49f2047d2c09261...
27        27  ...  9bab05c7f660711b05b01dd136a444d41fc3196bb4c81a...
28        28  ...  aa05d00cc40d4f78d7811380570a6c2ad35d41f75bfac4...

[29 rows x 3 columns]

In [7]:
engine = create_engine('sqlite:////content/Users.db', echo=False)

df.to_sql('Users', con = engine, if_exists='replace',
           index_label='id' )

engine.execute("SELECT * FROM Users").fetchall()

[('0', '0', 'Jaslo', '5994471abb01112afcc18159f6cc74b4f511b99806da59b3caf5a9c173cacfc5'),
 ('1', '1', 'toto', 'a665a45920422f9d417e4867efdc4fb8a04a1f3fff1fa07e998e86f7f7a27ae3'),
 ('2', '2', 'Sino9Z', 'dce88c29de615438681a0196eace3d34df3b1d37b17b7b1dade0801220589b59'),
 ('3', '3', 'moi34', 'dd9f4e6d863f5f4e01b23ea5ba15ab177ca58dae82ae2f6979477805f3ee21a3'),
 ('4', '4', 'aze4', '68f7a91ee05e239acab5df5dcf15dfca9970951347b1e42c8c108bfa48e5277d'),
 ('5', '5', 'Nom_utilisateur', '487f2799e99aefa322824849f561e6e3b29c2ce51bc0d7f22ef38f2dd4f5099c'),
 ('6', '6', 'Ludo', '9363f895169a58019e050825ee138dcd8e03df82a3d6575807427f002713eeb5'),
 ('7', '7', 'Molop', '1d72b6d9326cf6738851ccc592ff93df00bb605609b7f6e525d7eeab513af494'),
 ('8', '8', 'AZER', '5036e4073fc66b3a7c67f0727008465bb1494dd431d75a5ab66e417b37e149b9'),
 ('9', '9', 'Andrès', '3821de570ade787aa3838abb4cf7c144e72712de992ae89820cdf1d1eed9a4cd'),
 ('10', '10', 'Cow', 'bc3adf4ded457148cbb43e958379ddf0bd20a09756096bd75f0f0381a2f9e0a9'),
 ('11', '11', 'Zipp', '7e2d39c2cde99e265b42b8e512044cc5526db793b098944bf62ffd25902383e5'),
 ('12', '12', 'Tatar', '7d049eec3de1dbc276ca2185307f8663c397349860a93f561cd570a00ca393d9'),
 ('13', '13', 'Smaug', '3cf9a65df2dcaa5d7edcaaafb0a3e9d3e949516e8b44542efe6e24e70726bc33'),
 ('14', '14', 'Mumakil', '3a9dd936830eea0faf5a71872031b9555310027d6eae9315a432c4c7a79792e3'),
 ('15', '15', 'Ahsoka', '80271baa8df6c40dfca87f6ab852d6567545fb94e0d0ac7feeb926aefc52dcd6'),
 ('16', '16', 'Elzée', '154187fb2c11aad08d4a5ca65409e6faa8bda5730438cf431bc8ce5903c9ccbd'),
 ('17', '17', 'Margot', 'ce6b6ae85e742f0ccd97c84c7491b414038258c8b96c432421af98322e7a333f'),
 ('18', '18', 'Moana', '34046989c60d8ed2e5a80dfb17adbde0f0b06217242baba42129fd773a3ba18e'),
 ('19', '19', 'David', '9df544bb79ed6570fc543b631208f49752b91b1e17cf114ecacae2e19cd26be4'),
 ('20', '20', 'Lucile', 'd930f3f2314cd8bb6184a0b5f202f5bf38fb51400705d12ecbec8584e7e57c49'),
 ('21', '21', 'Ludovic', 'e42fcf2836ae8b1fa0775bd7d2c8307bb985384f01df541dffbc0ac635ae3b6f'),
 ('22', '22', 'Delphine', '29b8af3fda46d8d307c50a6222d39b8834a8718edec04a6a0a162dc6ac6e5d69'),
 ('23', '23', 'Héra', 'bf6bd643912344acbd26cedbbf888afb5b8dc075952d790d8d354f9f90e0b2f5'),
 ('24', '24', 'Tauriel', '5a820d6bbc3f1d49e970cae1f5d900a13d9e14889c939407ad61db2750f5471f'),
 ('25', '25', 'Laura', '413d4090feb79b17508cd3461d7b0a568efcfcac8b3aa38d10fb58c3b403ba49'),
 ('26', '26', 'Coralie', 'f5b6c4a6e9a2ba2c7616c2f94d3e79e49f2047d2c092617a725744852db6098c'),
 ('27', '27', 'Lydia', '9bab05c7f660711b05b01dd136a444d41fc3196bb4c81ad2b54bb1055ff96d84'),
 ('28', '28', 'Lisa', 'aa05d00cc40d4f78d7811380570a6c2ad35d41f75bfac496c306f81bcb359295')]