In [1]:
import sqlite3
import pandas as pd
import hashlib
from sqlalchemy import create_engine

In [2]:
conn = sqlite3.connect("data.db")

df = pd.read_sql("select * from  userstable", con=conn)

conn.close()

In [3]:
df['pwd_n'] = df['password'].apply(
    lambda x: 
        hashlib.sha256(x.encode()).hexdigest()
)
df = df.drop(["password"], axis=1)
df = df.rename(index=str, columns= {'pwd_n': 'password'})
df

           username                                           password
0             Jaslo  5994471abb01112afcc18159f6cc74b4f511b99806da59...
1              toto  a665a45920422f9d417e4867efdc4fb8a04a1f3fff1fa0...
2            Sino9Z  dce88c29de615438681a0196eace3d34df3b1d37b17b7b...
3             moi34  dd9f4e6d863f5f4e01b23ea5ba15ab177ca58dae82ae2f...
4              aze4  68f7a91ee05e239acab5df5dcf15dfca9970951347b1e4...
5                    e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b93...
6   Nom_utilisateur  487f2799e99aefa322824849f561e6e3b29c2ce51bc0d7...
7   Nom_utilisateur  487f2799e99aefa322824849f561e6e3b29c2ce51bc0d7...
8   Nom_utilisateur  487f2799e99aefa322824849f561e6e3b29c2ce51bc0d7...
9   Nom_utilisateur  487f2799e99aefa322824849f561e6e3b29c2ce51bc0d7...
10             Ludo  9363f895169a58019e050825ee138dcd8e03df82a3d657...
11  Nom_utilisateur  487f2799e99aefa322824849f561e6e3b29c2ce51bc0d7...
12  Nom_utilisateur  487f2799e99aefa322824849f561e6e3b29c2ce51bc0d7...
13  Nom_utilisateur  487f2799e99aefa322824849f561e6e3b29c2ce51bc0d7...
14  Nom_utilisateur  487f2799e99aefa322824849f561e6e3b29c2ce51bc0d7...
15  Nom_utilisateur  487f2799e99aefa322824849f561e6e3b29c2ce51bc0d7...
16  Nom_utilisateur  487f2799e99aefa322824849f561e6e3b29c2ce51bc0d7...
17  Nom_utilisateur  487f2799e99aefa322824849f561e6e3b29c2ce51bc0d7...
18  Nom_utilisateur  487f2799e99aefa322824849f561e6e3b29c2ce51bc0d7...
19  Nom_utilisateur  487f2799e99aefa322824849f561e6e3b29c2ce51bc0d7...
20  Nom_utilisateur  487f2799e99aefa322824849f561e6e3b29c2ce51bc0d7...
21  Nom_utilisateur  487f2799e99aefa322824849f561e6e3b29c2ce51bc0d7...
22  Nom_utilisateur  487f2799e99aefa322824849f561e6e3b29c2ce51bc0d7...
23  Nom_utilisateur  487f2799e99aefa322824849f561e6e3b29c2ce51bc0d7...
24            Molop  1d72b6d9326cf6738851ccc592ff93df00bb605609b7f6...

In [4]:
df.to_csv('Users.csv') #pour sauvegarder la nouvelle database sous forme csv

In [5]:
engine = create_engine('sqlite:////content/Users.db', echo=False)

df.to_sql('Users', con = engine, if_exists='replace',
           index_label='id' )

engine.execute("SELECT * FROM Users").fetchall()

[('0', 'Jaslo', '5994471abb01112afcc18159f6cc74b4f511b99806da59b3caf5a9c173cacfc5'),
 ('1', 'toto', 'a665a45920422f9d417e4867efdc4fb8a04a1f3fff1fa07e998e86f7f7a27ae3'),
 ('2', 'Sino9Z', 'dce88c29de615438681a0196eace3d34df3b1d37b17b7b1dade0801220589b59'),
 ('3', 'moi34', 'dd9f4e6d863f5f4e01b23ea5ba15ab177ca58dae82ae2f6979477805f3ee21a3'),
 ('4', 'aze4', '68f7a91ee05e239acab5df5dcf15dfca9970951347b1e42c8c108bfa48e5277d'),
 ('5', '', 'e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855'),
 ('6', 'Nom_utilisateur', '487f2799e99aefa322824849f561e6e3b29c2ce51bc0d7f22ef38f2dd4f5099c'),
 ('7', 'Nom_utilisateur', '487f2799e99aefa322824849f561e6e3b29c2ce51bc0d7f22ef38f2dd4f5099c'),
 ('8', 'Nom_utilisateur', '487f2799e99aefa322824849f561e6e3b29c2ce51bc0d7f22ef38f2dd4f5099c'),
 ('9', 'Nom_utilisateur', '487f2799e99aefa322824849f561e6e3b29c2ce51bc0d7f22ef38f2dd4f5099c'),
 ('10', 'Ludo', '9363f895169a58019e050825ee138dcd8e03df82a3d6575807427f002713eeb5'),
 ('11', 'Nom_utilisateur', '487f2799e99aefa322824849f561e6e3b29c2ce51bc0d7f22ef38f2dd4f5099c'),
 ('12', 'Nom_utilisateur', '487f2799e99aefa322824849f561e6e3b29c2ce51bc0d7f22ef38f2dd4f5099c'),
 ('13', 'Nom_utilisateur', '487f2799e99aefa322824849f561e6e3b29c2ce51bc0d7f22ef38f2dd4f5099c'),
 ('14', 'Nom_utilisateur', '487f2799e99aefa322824849f561e6e3b29c2ce51bc0d7f22ef38f2dd4f5099c'),
 ('15', 'Nom_utilisateur', '487f2799e99aefa322824849f561e6e3b29c2ce51bc0d7f22ef38f2dd4f5099c'),
 ('16', 'Nom_utilisateur', '487f2799e99aefa322824849f561e6e3b29c2ce51bc0d7f22ef38f2dd4f5099c'),
 ('17', 'Nom_utilisateur', '487f2799e99aefa322824849f561e6e3b29c2ce51bc0d7f22ef38f2dd4f5099c'),
 ('18', 'Nom_utilisateur', '487f2799e99aefa322824849f561e6e3b29c2ce51bc0d7f22ef38f2dd4f5099c'),
 ('19', 'Nom_utilisateur', '487f2799e99aefa322824849f561e6e3b29c2ce51bc0d7f22ef38f2dd4f5099c'),
 ('20', 'Nom_utilisateur', '487f2799e99aefa322824849f561e6e3b29c2ce51bc0d7f22ef38f2dd4f5099c'),
 ('21', 'Nom_utilisateur', '487f2799e99aefa322824849f561e6e3b29c2ce51bc0d7f22ef38f2dd4f5099c'),
 ('22', 'Nom_utilisateur', '487f2799e99aefa322824849f561e6e3b29c2ce51bc0d7f22ef38f2dd4f5099c'),
 ('23', 'Nom_utilisateur', '487f2799e99aefa322824849f561e6e3b29c2ce51bc0d7f22ef38f2dd4f5099c'),
 ('24', 'Molop', '1d72b6d9326cf6738851ccc592ff93df00bb605609b7f6e525d7eeab513af494')]